@{
    ViewData["Title"] = "Customer Type";
}
<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon">
                    <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title ">@ViewData["Title"]</h4>
            </div>
            <div class="card-body">
                <div id="CustomerType"></div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            var crudServiceBaseUrl = "/CustomerType",
                dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: crudServiceBaseUrl + "/GetData",
                            dataType: "json"
                        },
                        update: {
                            url: crudServiceBaseUrl + "/Update",
                            dataType: "json"
                        },
                        destroy: {
                            url: crudServiceBaseUrl + "/Remove",
                            dataType: "json"
                        },
                        create: {
                            url: crudServiceBaseUrl + "/Insert",
                            dataType: "json"
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read" && options.models) {
                                return { models: kendo.stringify(options.models) };
                            }
                        }
                    },
                    requestEnd: function (e) {
                        if (e.response) {
                            if ((e.type === "create")) {
                                $.notify({
                                    message: 'Record has been successfully added',
                                }, {
                                        type: 'success',
                                        allow_dismiss: false
                                    })
                            }
                            if ((e.type === "destroy")) {
                                $.notify({
                                    message: 'Record has been successfully deleted',

                                }, {
                                        type: 'success',
                                        allow_dismiss: false
                                    })
                            }
                            if ((e.type === "update")) {
                                $.notify({
                                    message: 'Record has been successfully updated',

                                }, {
                                        type: 'success',
                                        allow_dismiss: false,
                                    })
                            }
                        }
                    },
                    batch: true,
                    pageSize: 20,
                    schema: {
                        model: {
                            id: "customerTypeId",
                            fields: {
                                customerTypeId: { editable: false, nullable: false, defaultValue: 0 },
                                customerTypeName: { validation: { required: true } },
                                description: { validation: { required: false } },
                            }
                        }
                    }
                });

            $("#CustomerType").kendoGrid({
                dataSource: dataSource,
                pageable: true,
                resizable: true,
                sortable: true,
                height: 650,
                toolbar: ["create", "search"],
                columns: [
                    { field: "customerTypeName", title: "Customer Type", width: "200px" },
                    { field: "description", title: "Description", width: "400px" },
                    { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }],
                editable: "popup"
            });

        });

    </script>
}


